<h2>Our Members</h2>
<ul class="members">
  {% for member in site.members %}
    <li class="member">
      <a href="{{ member.url }}" class="member__link">
        <div class="member__name">{{ member.name }}</div>
        {% if member.logo %}
          <img src="/assets/images/logos/{{ member.logo }}" alt="{{ member.name }}'s logo" class="member__image">
        {% else %}
          <img src="https://placedog.net/500/500?random&q={{forloop.index}}" alt="{{ member.name }}'s logo" class="member__image">
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>
