---
layout: default
---

<div class="contact">

{% include box.html colour="white" %}
  <h2>Our Newsletter</h2>
  <p class="bigger">We send out a sporadic newsletter with updates on our current projects and ways you can get involved.</p>
  <p class="bigger">To sign up, enter your email address below.</p>
  <form action="https://tinyletter.com/ResistanceLab" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/ResistanceLab', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <label for="tlemail">Your email</label>
    <input type="text" name="email" id="tlemail">
    <input type="hidden" value="1" name="embed">
    <button type="submit">Subscribe</button>
  </form>
{% include endbox.html %}

{% include box.html colour="white" %}
  <h2>Contact us</h2>
  <p class="bigger">You can contact us by emailing <a href="mailto:info@resistancelab.network">info@resistancelab.network</a>, or fill out the form below and we will be in touch.</p>

  <form action="https://formspree.io/xdowpgrr" method="POST">
    <label for="name">Your name</label>
    <input type="text" name="name" id="name">
    <label for="email">Your email</label>
    <input type="text" name="_replyto" id="email">
    <label for="message">Your message</label>
    <textarea name="message" id="message" rows="5"></textarea>

    <button type="submit">Send message</button>
  </form>
{% include endbox.html %}

</div>
